set $cache_uri $request_uri;
set $w3tc_rewrite 1;

# POST requests and urls with a query string should always go to PHP
if ($request_method = POST) {
	set $cache_uri 'null cache';
	set $w3tc_rewrite 0;
}

if ($query_string != "") {
	set $cache_uri 'null cache';
	set $w3tc_rewrite 0;
}

# Don't cache uris containing the following segments
if ($request_uri ~* "(/wp-admin/|/xmlrpc.php|/wp-(app|cron|login|register|mail).php|wp-.*.php|/feed/|index.php|wp-comments-popup.php|wp-links-opml.php|wp-locations.php|sitemap(_index)?.xml|[a-z0-9_-]+-sitemap([0-9]+)?.xml)") {
	set $cache_uri 'null cache';
}

# Don't use the cache for logged in users or recent commenters
if ($http_cookie ~* "(comment_author|wp\-postpass|w3tc_logged_out|wordpress_logged_in|wptouch_switch_toggle)") {
	set $cache_uri 'null cache';
	set $w3tc_rewrite 0;
}

if ($request_uri !~ \/$) {
	set $w3tc_rewrite 0;
}

location ~ /wp-content/cache/page_enhanced.*html$ {
	add_header Vary Cookie;
}

location ~ ^/wp-content/cache/minify/[^/]+/(.*)$ {
	try_files $uri /wp-content/plugins/w3-total-cache/pub/minify.php?file=$1;
}    

if ($http_cookie ~* "(w3tc_preview)") {
	set $w3tc_rewrite _preview;
}

if (!-f "$document_root/wp-content/cache/page_enhanced/$http_host/$request_uri/_index$w3tc_rewrite.html") {
	set $w3tc_rewrite 0;
}

if ($w3tc_rewrite = 1) {
	rewrite .* "/wp-content/cache/page_enhanced/$http_host/$request_uri/_index$w3tc_rewrite.html" last;
}
